{% extends 'base.html' %}
{% block title %}Acerca de mí{% endblock %}

{% block content %}
  <h2>Hola, {{ nombre }}</h2>
  <p>Soy <strong>Santiago Batson</strong>, policía e ingeniero con pasión por el desarrollo web y el acompañamiento personal.</p>
  <p>Mi misión es ayudarte a alcanzar tus metas técnicas y personales con enfoque, disciplina y evolución constante.</p>
  <p>¿Quieres saber más? Estoy aquí para ayudarte a construir tu mejor versión.</p>

  <button>Regístrate</button>
{% endblock %}