<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi App Flask{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Bienvenido a la app</h1>
    </header>

    {% if nombre %}
    <nav>
        <ul>
<!-- index.html -->
<button onclick="window.location.href='/login'">Iniciar sesión</button>

            <li><a href="{{ url_for('usuario', nombre=nombre) }}">Inicio</a></li>
            <li><a href="{{ url_for('about', nombre=nombre) }}">Acerca</a></li>
            <li><a href="{{ url_for('contacto', nombre=nombre) }}">Contacto</a></li>
            <li><a href="{{ url_for('producto', nombre=nombre) }}">Productos</a></li>

        </ul>
    </nav>
    {% endif %}

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>