<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi App Flask{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Bienvenido a la app</h1>
        {% if session.get('usuario') %}
            <p>Hola, {{ session['usuario'] }}</p>
        {% endif %}
    </header>

    {% if session.get('usuario') %}
    <nav>
        <ul>
            <li><a href="{{ url_for('about') }}">Acerca</a></li>
            <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
            <li><a href="{{ url_for('producto') }}">Productos</a></li>
        </ul>
    </nav>
    <a href="{{ url_for('logout') }}">Cerrar sesión</a>
{% else %}
    <a href="{{ url_for('login') }}">Iniciar sesión</a>
    <br>
    <a href="{{ url_for('register') }}">Crear Cuenta</a>

    {% endif %}
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>